<div id="<% dom_id phone%>">
    <div style="display:flex;justify-content:space-between;margin:0em 5em;">
    
        <strong>Name: </strong>
        <%= phone.name %>
        <strong>Brand: </strong>
        <%= phone.brand%>
        <strong>Price: </strong>
        <%= phone.price%>

        <%= form_with(url: cart_add_path) do |f|%>
        <% f.hidden_field :id, value: phone.id%>
        <% f.number_field :quantity, value: 0 , min: 1%>
        <%f.submit "Add to cart"%>
        <%end%>
    </div>
</div>