<%= turbo_frame_tag "cart" do %>
    <h1>Cart</h1>
    <% if @cart.orderables.count > 0 %>
        <%= render "cart/orderables"%>
        <p>Total: <%= @cart.total %></p>
        <br>
        <a href="<%= cart_path(@cart) %>">Check out</a>
    <% else %>
        <p>Your cart is empty!</p>
    <% end %>
<% end %>
