/*Global*/
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
    background-color: #EFEFEF;
}
/*End Global*/

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}
.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.container_icon {
    align-items: center;
}
.icon {
    background-color: #2CA3E6;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    stroke: #ffffff;
    cursor: pointer;
}
.add {
    display: flex;
    align-items: center;
}
.add svg {
    border-radius: 5px 0px 0px 5px;
}
.cart {
    display: flex;
    align-items: center;
}
.cart svg {
    border-radius: 5px 5px 5px 5px;
    margin-left: 5px;
}
.home p {
    background-color: #2CA3E6;
}
.add p {
    background-color: #2CA3E6;
}
.link p {
    margin: 0;
    padding: 11px;
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
}
.home svg {
    border-radius: 5px 0px 0px 5px;
}
/*End Header*/

/*Add Items*/
.add-items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
}
.add-items h1{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #adadad;
}
.add-items form{
padding: 0 40px;
box-sizing: border-box;
}
form .name{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.name input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.name label{
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 16px;
    color: #adadad;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .5s;
}
.name span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #d44a70;
}
.name input:focus ~ label,
.name input:focus ~ label{
top: -5px;
color: #d44a70;
}

.buttons-container{
    display: flex;
    justify-content:flex-start;
}
.back-container{
    padding-right: 10px;
}
.submit{
    background-color: #2CA3E6;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-weight: 900;
}
/*End Add Items*/

/*Show Items*/

.show-items{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    justify-content:flex-start;
    display: flex;
    max-width: 100%;
}
.show-items figure img{
    border-radius: 10px;
}
.show-items-info{
    padding: 10px;
}
.show-buttons-container{
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
}

.add-cart-container .submit{
    background-color: #d44a70;
    margin-right: 5px;
}
.add-cart-container .quantity{
    position: relative;
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin-right: 5px;
    padding-left: 20px;
    border: 1px solid #eee;
}
.quantity input:focus {
    outline: 0;
  }

  .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
  }

  .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
  }

  .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
  }
/*End Show Items*/

img {
    max-width: 100%;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.items {
    border-radius: 10px;
    background-color: #ffffff;
}

.items:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.items img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.items figure {
    overflow: hidden;
}

.items:hover img {
    transform: scale(1.2);
}

.info-products {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.brand {
    background-color: #d44a70;
    color: white;
    text-align: center;
}
.see{
    background-color: #2CA3E6;
    border-radius: 5px;
    max-width: fit-content;
    position: relative;
}
.slink{
    text-decoration: none;
    background-color:#2CA3E6;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

/*Price Decoration*/
.price-container{
    display: flex;
    flex-direction: row;
    justify-content:start;
    font-weight: 900;
}
.number{
    vertical-align: baseline;
    padding-left: 5px;
}
.price {
    font-weight: 900;
    color: #2CA3E6;
}
/*End Price Decoration*/

/*Cart*/
.index-cart{
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.see-cart-container{
    margin: 10px;
}
.see-cart{
    background-color: #2CA3E6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}
.continue{
    background-color: #2CA3E6;
    border-radius: 10px;
    max-width:max-content;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.continue-link{
    text-decoration: none;
    color: #ffffff;
}
.continue-submit{
    background-color: #2CA3E6;
    border-radius: 10px;
    max-width:max-content;
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    border-style: hidden;
    margin-right: 10px;
    cursor: pointer;
}
.ord-submit-add{
    background-color: #2CA3E6;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    border-style: hidden;
    cursor: pointer;
}
.ord-submit-pop{
    background-color: #d44a70;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    border-style: hidden;
    cursor: pointer;
}
.orderables-info{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
}
.orderables-info .ord-name{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}
.cart-buttoms-container{
    display: flex;
    justify-content:flex-start;
}
/*End Cart*/

/*Footer*/

.pie-pagina{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pie-pagina .group1{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .group1 .box .red-social svg{
    color: #ffffff;
}
.pie-pagina .group1 .box figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .group1 .box figure p{
    color: #ffffff;
    margin-top: 10px;
}
.pie-pagina .group1 .box figure img{
    width: 125px;
}
.pie-pagina .group1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .group1 .box p{
    margin-bottom: 10px;
    color: #333;
}
.pie-pagina .group1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:#000000;
    margin-right: 10px;
    background-color: #2CA3E6;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .group1 .box .red-social a:hover{
    color: #d44a70;
}
.pie-pagina .group2{
    padding: 15px 10px;
    text-align: center;
}
.pie-pagina .group2 small{
    font-size: 15px;
}
/*End Footer*/
